<div class="user-details">
  <h2> Taking Care Animals </h2>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Dogs tkanimals.com" src="{{ "/assets/images/ava-dogs-tkanimals.com.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> DOGs </h3>
    <ul>
      <li> Featured Skills?</li>
    </ul>
    <p style="text-align: justify;">It's just the mos amazing thing to love a dog, isn't it? It makes our relationships with people seem as boring as a bowl of oatmeal.</p>
    <a class="project-link" href="https://tkanimals.com/index2">Learn more</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Cats tkanimals.com" src="{{ "/assets/images/ava-cats-tkanimals.com.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> CATs </h3>
    <ul>
      <li> Featured Skills?</li>
    </ul>
    <p style="text-align: justify;">If you have or had a cat who has made you laugh brightened your life, and every day silently accepted your tears without judgement, snuggled with you, forgiven your faults and loved you unconditionally - click <b>"SHARE"</b>.<br>
Cats are a gift most of us don't deserve!</p>
    <a class="project-link" href="https://tkanimals.com/index2">Learn more</a>
  </div>
</div>
